$textcolor : #7284A8; 
$bgColor: #1B1B1B; 
$lightGrey: #333333; 
$greenColor: #33d66c; 
$borderRadius : 5px; 


/*   GENERAL STYLES   */

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

ul {
  list-style-type: none; 
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh; 
  background-color: $bgColor; 
  color: $textcolor;
}

main {
  margin: 30px;
  min-height: calc(100vh - 190px);
}

.btnList {
  margin: 30px 0 40px;
  width: 50%;
  align-self: center;
}

.randomBtn {
  padding: 15px;
  background-color: $greenColor; 
  width: 25%; 
  align-self: center;
  color: white;
  border-radius: $borderRadius; 
  border: none;
  font-size: 25px; 
  outline: none; 
}

.button {
  background-color: $lightGrey; 
  padding: 10px; 
  width: 150px;
  font-size: 15px; 
  text-align: center;
  color: white;
  border-radius: $borderRadius; 
  outline: none; 
  border: none; 
}

.dropDownMenu {
  position: relative;
}

.dropContent {
  position: absolute;
  z-index: 1; 
  display: none; 
  @extend .button; 
  li {
    margin-bottom: 10px; 
    &:hover {
      color: $textcolor;
    }
  }
}

.dropDownMenu:hover .dropContent {
  display: block;
}


/*   HEADER   */

.mainHeader {
  padding: 10px 3.5%; 
  border-bottom: 4px solid $lightGrey; 
  background-color: $lightGrey; 
  h1 {
    flex: 1;
    align-self: center;
    font-size: 25px
  }
  img {
    flex: 5;
  }
}

/* LogIn Form */
.formContainer {
  position: relative;
  flex: 1;
  p {
    text-align: right;
  }
  .loginForm {
  /*display: none; */
  position: absolute;
  right: 0; 
  top: 150%;
  .loginBtn {
    background-color: $greenColor; 
    margin-top: 5px; 
    padding: 5px; 
    color: white;
    outline: none; 
    border: none; 
    border-radius: $borderRadius; 
  }
  }
}



/*   SHOW ARTICLES   */

.showCard {
  flex-basis: 22%; 
  margin: 15px auto;
  min-width: 200px; 
  background-color: $lightGrey; 
  padding: 15px; 
  border-radius: $borderRadius; 
}

.showTitle {
  flex-basis: 85%; 
  color: white;
}

.showRating {
  flex-basis: 10%; 
  align-self: center;
  font-size: 16px; 
  color: white; 
}

.ten {
  font-size: 12px; 
}

.showGenre {
  flex-basis: 30%; 
}

.showImg {
  margin: 10px 0;
}

.showDescr {
  text-align: justify;
}

/* ADMIN PANEL */

.controlsList {
  margin-bottom: 15px; 
}

.controlBtn {
  @extend .button; 
  flex: .3;
  padding: 5px; 
}

.editBtn {
  background-color: $greenColor; 
}

.deleteBtn {
  background-color: red; 
}

/* editForm */

.editForm {
  input, textarea {
    padding: 10px;  
  }
  label {
    font-size: 18px; 
    margin-top: 10px; 
  }
  .updateBtn {
    background-color: $greenColor; 
    margin-top: 10px; 
  }
}




/*   FOOTER   */

footer {
  padding: 20px; 
  text-align: center;
}
