$textcolor : #7284A8; 
$bgColor: #1B1B1B; 
$lightGrey: #333333; 
$greenColor: #3eb75a; 
$borderRadius : 5px; 
$redColor: #D80914; 


/*   GENERAL STYLES   */

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
}

ul {
  list-style-type: none; 
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh; 
  background-color: $bgColor; 
  color: $textcolor;
}

main {
  margin: 30px;
  min-height: calc(100vh - 190px);
}

.greenBg {
  background-color: $greenColor; 
}

/* Buttons */

.btn {
  background-color: $lightGrey; 
  padding: 10px; 
  width: 150px;
  font-size: 15px; 
  text-align: center;
  color: white;
  border-radius: $borderRadius; 
  outline: none; 
  border: none; 
  cursor: pointer;
}

.formBtn {
  @extend .btn;  
  margin-top: 10px; 
  background-color: $greenColor; 
}

.controlBtn {
  @extend .btn; 
  flex: .3;
  padding: 5px; 
}

.editBtn, .addBtn {
  background-color: $greenColor; 
}

.deleteBtn {
  background-color: $redColor; 
}

/* Forms */

.form {
  input, textarea {
    padding: 8px;
    border-radius: $borderRadius; 
    border-width: 1px;  
  }
  label {
    color: white; 
    font-size: 15px; 
    margin-top: 10px; 
    margin-bottom: 5px; 
  }
}

.loginFormContainer {
  position: relative;
  flex: 1;
  p {
    text-align: right;
  }
}

.loginForm{
  background-color: white; 
  padding: 20px; 
  border-radius: $borderRadius; 
  position: absolute;
  right: 0; 
  top: 150%;
  label {
    color: $lightGrey; 
  }
}

/*   HEADER   */

.mainHeader {
  padding: 10px 3.5%; 
  border-bottom: 4px solid $lightGrey; 
  background-color: $lightGrey; 
  color: white;
  h1 {
    flex: 1;
    align-self: center;
    font-size: 25px; 
    color: $redColor; 
  }
  img {
    flex: 5;
  }
}




/*  NAV  */

.btnList {
  margin: 30px 0 40px;
  width: 50%;
  align-self: center;
}

.randomBtn {
  @extend .btn; 
  font-size: 18px; 
  width: 15%;
  background-color: $greenColor;
}

.dropDownMenu {
  position: relative;
}

.dropContent {
  position: absolute;
  z-index: 1; 
  display: none; 
  li {
    margin-bottom: 10px; 
    &:hover {
      color: $textcolor;
    }
  }
}

.dropDownMenu:hover .dropContent {
  display: flex;
  flex-direction: column;
}


/*   TVSHOW ARTICLES   */

.showCard {
  flex-basis: 22%; 
  margin: 15px auto;
  min-width: 200px; 
  background-color: $lightGrey; 
  padding: 15px; 
  border-radius: $borderRadius; 
}

.showTitle {
  flex-basis: 85%; 
  color: white;
}

.showRating {
  flex-basis: 10%; 
  align-self: center;
  font-size: 16px; 
  color: white; 
}

.ten {
  font-size: 12px; 
}

.showGenre {
  flex-basis: 30%; 
}

.showImg {
  margin: 10px 0;
}

.showDescr {
  text-align: justify;
}






/* ADMIN PANEL */

.controlsList {
  margin-bottom: 15px; 
}





/*   FOOTER   */

footer {
  padding: 20px; 
  text-align: center;
}
