@media all and (max-width: 1300px) {
  .navBtn {
    margin-top: 5px; 
  }
}

@media all and (max-width: 730px) {
  .randomBtn {
    width: 60%; 
  }
}

@media all and (max-width: 1200px) {
  .loginFormContainer div {
    flex-direction: column;
    p {
      align-self: flex-end;
    }
  }
}